.header {
  padding-block: 1rem;
  position: fixed;
  width: 100%;
  background-color: antiquewhite;
}

.header > *{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding-top: 5rem;
}